<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<br />

<form method="post">
    Name of Recipe:<br />
    <input type="text" name="recipeName" /><br />
    Source:<br />
    <input type="text" name="recipeSource" /><br />
    Number of Servings:<br />
    <input type="number" name="numberServings" /><br />
    Prep Time (in minutes):<br />
    <input type="number" name="prepTime" /><br />
    Ingredients:<br />
    <input type="text" name="ingredient" /><br />
    Instructions:<br />
    <input type="text" name="instruction" /><br />
    Special Category:<br />
    <input type="checkbox" name="recipeCategory" /><br />

    <input type="submit" value="Add Recipe" />


</form>

</body>
</html>