<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<br />
<h1 th:text="${title}">Default Title</h1>



<form method="post" th:object="${recipe}">
    <div>
        <label th:for="name">Name of Recipe</label>
        <input th:field="*{name}" required />
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div>
        <label th:for="type">Type</label>
        <select th:field="*{type}" required>
            <option value="" hidden>Select a Type</option>
            <option th:each="recipeType : ${recipeTypes}"
                    th:text="${recipeType.name}"
                    th:value="${recipeType}"></option>
        </select>
    </div>
    <div th:each="category : ${categories}">
        <input type="checkbox" th:field="*{categories}" th:value="*{categories}"/>
        <label th:text="${category.name}">Category</label>
    </div>
    <div>
        <label th:for="source">Source</label>
        <input th:field="*{source}" />
        <span th:errors="*{source}" class="errors"></span>
    </div>
    <div>
        <label th:for="servings">Number of Servings</label>
        <input th:field="*{servings}" />
        <span th:errors="*{servings}" class="errors"></span>
    </div>
    <div>
        <label th:for="time">Prep Time (in minutes)</label>
        <input th:field="*{time}" />
        <span th:errors="*{time}" class="errors"></span>
    </div>
    <div>
        <label th:for="ingredients">Ingredients</label>
        <input th:field="*{ingredients}" type="text" id="txtVal" />
        <button onclick="addLi(); return false;">Add Ingredient</button>
        <span th:errors="*{ingredients}" class="errors"></span>

        <ul id="ingrList">
        </ul>

        <script>
            function addLi()
            {
                txtDoc = document.getElementById('txtVal');
                var txtVal = txtDoc.value;
                    listNode = document.getElementById('ingrList');
                    liNode = document.createElement("LI");
                    txtNode = document.createTextNode(txtVal);
                liNode.appendChild(txtNode);
                listNode.appendChild(liNode);
                txtDoc.value = '';
                txtDoc.focus();
             }
        </script>
    </div>
    <div>
        <label th:for="instructions">Instructions</label>
        <input type="text" th:field="*{instructions}"  required />
        <span th:errors="*{instructions}" class="errors"></span>
    </div>


    <input type="hidden" value="*{user}" name="userId" />
    <input type="submit" value="Add Recipe" />


</form>

</body>
</html>