<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
                      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav><br />
<br />
<h1 th:text="${title}"></h1>



<p th:unless="${recipes} and ${recipes.size()}">Would you like to <a href="/recipe/add">add </a> a recipe?</p>

<form th:action="@{/search}" method="post">
    <input type="submit" value="Find A Recipe" />

    <br />

<form th:action="@{/userSearch}" method="post">
    <input type="submit" value="Search All Users" />


    <h4><li th:each="recipe :  ${recipes}" th:text="${recipe.name}"></li></h4> <!--make link to indiv recipe page -->
<!--<ul>
    <li th:each="recipe :  ${recipes}" th:text="${recipe.type.name}"></li>
    <li th:each="recipe :  ${recipes}" th:for="category : ${categories}" th:text="${category}"></li>
    <li th:each="recipe :  ${recipes}" th:text="${recipe.source}"></li>
</ul>-->


</body>
</html>