<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav><br />
<img src="../Images/cookbook1.jpg" alt="cooking utensils and bowls" height="200">
<br />
<h1 th:text="${title}"></h1>
<hr />
<tr>
    <td th:each="type : ${recipeTypes}"><a th:href="'/recipe/search/' + ${type}" th:text="${type} + ' | '"></a></td>
</tr>

<hr />

<p th:unless="${recipes} and ${recipes.size()}">Would you like to <a href="/recipe/add">add </a> a recipe?</p>

<form th:action="@{/recipe/search}" method="GET">
    <label th:for="byName">Search by Name of Recipe:</label>
    <input type="text" id="byName" th:name="byName" />
    <input type="submit" value="Find A Recipe" />
</form>
<br />

    <tr>
        <th>Recipes</th>
    </tr>
    <tr>
        <td th:each="recipe :  ${recipes}"> <ul class="index-list">
            <li><a th:href="'/recipe/indiv/' + ${recipe.id}" th:text="${recipe.name}"></a></li></ul></td>
    </tr>


    <br />

<form th:action="@{/recipe/findAuthor}" method="GET">
    <label th:for="byUser">Search by Name of Author:</label>
    <input type="text" id="byUser" name="byUser" />
    <input type="submit" value="Find An Author" />
</form>
<br />

    <tr>
        <th>Authors</th>
    </tr>
    <tr>
        <td th:each="user : ${users}"> <ul class="index-list">
            <li><a th:href="'/recipe/user/indiv/' + ${user.id}" th:text="${user.name}"></a></li></ul></td>
    </tr>

</body>
</html>