<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<br />
<h1 th:text="${title}"></h1>
<hr />
<tr>
    <td th:each="type : ${recipeTypes}"><a th:href="'/recipe/search/' + ${type}" th:text="${type}"></a></td>
</tr>

<hr />
<table width="1500px">
<tr>
    <th>Author:</th>
    <th>Recipe Type:</th>
    <th>Servings:</th>
    <th>Prep Time (in minutes):</th>
    <th>Special Categories:</th>
    <th>Source or Origin:</th>

</tr>
<tr>
    <td th:text="${recipe.user.name} + ' ' + ${recipe.user.lastName}"></td>
    <td th:text="${recipe.type.name}"></td>
    <td th:text="${recipe.servings}"></td>
    <td th:text="${recipe.time}"></td>
    <td> <ul th:each="category : ${categories}">
        <li th:text="${category.name}"></li>
        </ul></td>
    <td th:text="${recipe.source}"></td>
</tr>

    <ul th:each="ingredient : ${recipe.ingredients}">
            <li th:text="${ingredient}"></li>
        </ul>
</tr>
</table>
<hr />
<hr />
<ul>
    <li>Title</li>
    <li>RecipeType</li>
    <li>Category(ies)</li>
    <li>Author Name (link to all recipes by this author)</li>
    <li>Source</li>
    <li>Servings</li>
    <li>Prep time</li>
    <li>Ingredients</li>
    <li>Instructions</li>
</ul>

</body>
</html>