<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head"></head>
<body>
<div class="container">
<nav th:replace="fragments :: navigation"></nav>
<br />
<h1 th:text="${title}"></h1>
<hr />
<tr>
    <td th:each="type : ${recipeTypes}"><a th:href="'/recipe/search/' + ${type}" th:text="${type} + ' | '"></a></td>
</tr>

<hr />
<table width="1500px">
<tr>
    <th>Author:</th>
    <th>Recipe Type:</th>
    <th>Servings:</th>
    <th>Prep Time (in minutes):</th>
    <th>Special Categories:</th>
    <th>Source or Origin:</th>

</tr>
<tr>
    <td th:text="${recipe.user.name} + ' ' + ${recipe.user.lastName}"></td>
    <td th:text="${recipe.type.name}"></td>
    <td th:text="${recipe.servings}"></td>
    <td th:text="${recipe.time}"></td>
    <td th:text="${categories.name}"></td>
    <td th:text="${recipe.source}"></td>
</tr>
</table>
<hr />
<hr />
<table width="1000px">
<tr>
    <th>Ingredients:</th>
</tr>
<tr th:if="${ingredients.empty}">
    <td colspan="2">No Ingredients</td></tr>
    <tr>
        <td>
            <ul th:each="ingredient : ${ingredients}">
                <li th:text="${ingredient.name}">Ingredient</li></ul></td>
    <!--<td>placeholder for list of ingredients<ul th:each="ingredient : ${recipe.ingredients}"><li th:text="${ingredient}">
    </li></ul></td>
     -->
</tr>
</table>
<hr />
<hr />
<table>
<tr>
    <th>Instructions:</th>
</tr>
<tr th:unless="${recipe.instructions} and ${recipe.instructions.size()}" >
    <td colspan="2">Wing it! There are no instructions!</td></tr>
    <tr>
        <td>
            <ol th:each="instruction : ${recipe.instructions}">
                <li th:text="${instruction}">Wing it!</li></ol>
        </td>
    </tr>
</table>
<hr />
<hr />
<form th:action="@{/recipe/search}" method="GET">
    <label th:for="byName">Search by Name of Recipe:</label>
    <input type="text" id="byName" th:name="byName" />
    <input type="submit" value="Find A Recipe" />
</form>
<br />
<form th:action="@{/recipe/findAuthor}" method="GET">
    <label th:for="byUser">Search by Name of Author:</label>
    <input type="text" id="byUser" name="byUser" />
    <input type="submit" value="Find An Author" />
</form>
<br />
</div>
</body>
</html>