<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head"></head>
<body>
<nav th:replace="fragments :: navigation"></nav>
<br />
<div class="container">
<!--<form th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out" />

</form>-->
<h1 th:inline="text">Welcome <span th:text="${user.name} + ' ' + ${user.lastName}" />!</h1>

<br />
    <div class="w3-container">
        <div th:if="${user.profilePic}">
        <img th:src="@{'data:image/png;base64,'+${user.getImageString()}}" class="img" height="100" alt="User Profile Picture"/><hr />
        </div>

        <form th:action="@{/recipe/user/home}" method="post", enctype="multipart/form-data">
            <label th:for="profilePic">Add/Change Your Profile Picture:</label>
            <input type="file" onchange="previewFile()" id="profilePic" name="profilePic"><br />
            <img src="" height="200">

            <script>
                    function previewFile() {
                    var preview = document.querySelector('img');
                    var file    = document.querySelector('input[type=file]').files[0];
                    var reader  = new FileReader();

                    reader.addEventListener("load", function () {
                    preview.src = reader.result;
                    }, false);

                    if (file) {
                    reader.readAsDataURL(file);
                    }
                    }
                </script>
            <button type="submit", class="w3-button w3-theme">Submit</button>
        </form>
    </div>

<h2 th:text="${title}"></h2>

<h4>Would you like to <a href="/recipe/add">add </a> a recipe?</h4>
<br />
<!--<table class="table">

<tr>
    <th>Name</th>
    <th>Source</th>
    <th>Type</th>
    <th>Ingredients</th>
</tr> -->

    <!--<ul>
        <li th:each="recipe : ${user.userRecipes}">
            <a th:href="'/recipe/indiv/' + ${recipe.id}" th:text="${recipe.name}"></a>
        </li>
    </ul>-->

<tr>
    <th>Recipes</th>
</tr>
<tr>
    <td class="index-list">
        <ul th:each="recipe :  ${recipes}">
            <li><a th:href="'/recipe/indiv/' + ${recipe.id}" th:text="${recipe.name}"></a>
                <!--<a th:href="'/recipe/edit/' + ${recipe.id}">Edit Recipe</a>--></li></ul></td>
</tr>
        <!--<td th:text="${recipe.source}"></td>
        <td th:text="${recipe.type}"></td>
        <ul th:each="ingredient : ${ingredients}">
            <li th:text="${ingredient}"></li>
        </ul> -->

</table>

</div>
</body>
</html>