<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:replace="fragments :: head"></head>
<body>

<h1 th:text="${title}">Default Title</h1>

<nav th:replace="fragments :: navigation"></nav>
<br />

<div th:if="${param.error}">
    Invalid username and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/user/login}" method="post"> <!--th:object="${user}"-->
    <div>
        <label th:for="username">Username: <input type="text" name="username" /></label>
        <!--<span th:errors="*{username}" class="error"></span>-->
    </div>

    <div>
        <label th:for="password">Password: <input type="password" name="password" /></label>
       <!-- <span th:errors="*{password}" class="error"></span>-->
    </div>

    <input type="submit" value="Login" />
</form>

</body>
</html>