<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head">
    <title>Registration Form</title>
</head>
<body>
<nav th:replace="fragments :: navigation"></nav><br />
    <div class="container">

        <div class="w3-center w3-padding-64" id="register">
            <span class="w3-xlarge w3-bottombar w3-border-teal w3-padding-16">Registration Form</span>
        </div>

        <form class="w3-container" form autocomplete="off" th:action="@{/registration}"
              th:object="${user}" method="post" role="form">
            <div class="w3-section">
                <label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                       class="validation-message">Name</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" th:field="*{name}" placeholder=" First Name" required />
            </div>
            <div class="w3-section">
                <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                class="validation-message">Last Name</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" th:field="*{lastName}"
                       placeholder="Last Name" required />
            </div>
            <div class="w3-section">
                <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
                       class="validation-message">Email</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="text" th:field="*{email}" placeholder="Email" required />
            </div>
            <div class="w3-section">
                <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                       class="validation-message">Password</label>
                <input class="w3-input w3-border w3-hover-border-black" style="width:100%;" type="password" th:field="*{password}"
                       placeholder="Password" required />
            </div>
            <button type="submit" class="w3-button w3-block w3-black">Register User</button>
        </form>
    </div>
    <span th:utext="${successMessage}"></span>
</body>
</html>