<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org/"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head  th:fragment="head">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${title}">Recipes</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
html,body,h1,h2,h3,h4 {font-family:"Lato", sans-serif}
.mySlides {display:none}
.w3-tag, .fa {cursor:pointer}
.w3-tag {height:15px;width:15px;padding:0;margin-top:6px}
</style>

    <!-- for images: <  th:src="@{/images/imagename.gif}"> -->
</head>
<body>
<h1>My Recipes</h1>

<nav th:fragment="navigation">
    <div class="w3-top">
        <div class="w3-bar w3-theme-d2 w3-left-align">
            <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <a href="/recipe" class="w3-bar-item w3-button w3-teal"><i class="fa fa-home w3-margin-right"></i>All Recipes</a>
            <a href="/recipe/add" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Add a Recipe</a>
            <a href="/registration" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Join Our Community</a>
            <a href="/recipe/user/home" class="w3-bar-item w3-button w3-hide-small w3-hover-white">My Homepage</a>
            <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Login</a>
            <div class="w3-dropdown-hover w3-hide-small">
                <button class="w3-button" title="Notifications">Search by Category <i class="fa fa-caret-down"></i></button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a href="/recipe/search/APPETIZER" class="w3-bar-item w3-button">Appetizer</a>
                    <a href="/recipe/search/SOUP" class="w3-bar-item w3-button">Soup</a>
                    <a href="/recipe/search/SALAD" class="w3-bar-item w3-button">Salad</a>
                    <a href="/recipe/search/BREAD" class="w3-bar-item w3-button">Bread</a>
                    <a href="/recipe/search/SANDWICH" class="w3-bar-item w3-button">Sandwich</a>
                    <a href="/recipe/search/SIDE" class="w3-bar-item w3-button">Side</a>
                    <a href="/recipe/search/MAIN" class="w3-bar-item w3-button">Main</a>
                    <a href="/recipe/search/DESSERT" class="w3-bar-item w3-button">Dessert</a>
                    <a href="/recipe/search/BEVERAGE" class="w3-bar-item w3-button">Beverage</a>
                    <a href="/recipe/search/OTHER" class="w3-bar-item w3-button">Other</a>

                </div>
            </div>
            <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>
        </div>
    </div>
</nav>
<!--<nav th:fragment="navigation">
    <a href="/recipe">All Recipes</a> |
    <a href="/recipe/search">Search</a> |
    <a href="/recipe/add">Post A Recipe</a> |
    <a href="/login">Login</a> |
    <a href="/recipe/user/home">My Homepage</a> |
    <a href="/registration">Join Our Community</a>
</nav> -->
<p th:fragment="title">
    <br />
    <h1 th:text="${title}"></h1>
    <hr />
    <!--<tr>
        <td th:each="type : ${recipeTypes}"><a th:href="'/recipe/search/' + ${type}" th:text="${type} + ' | '"></a></td>
    </tr>-->


</p>

</body>
</html>